*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    overflow: hidden;
}
textarea{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    color: rgb(53, 192, 53);
    padding: 10px;
    font-family: monospace;
}